<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${hostname} [CorrelationID:
				%X{activityid}] [Username: %X
				{uact}] [%thread] %-5level - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="stdout.file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>md-basicodigital.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>md-basicodigital.log-%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${hostname} [CorrelationID:
				%X{activityid}] [Username: %X
				{uact}] [%thread] %-5level - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="atos.trace.appender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>md-basicodigital-trace.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>md-basicodigital-trace.log-%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${hostname} [CorrelationID:
				%X{activityid}] [Username: %X
				{uact}] %-5level - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="atos.audit.appender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>md-basicodigital-audit.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>md-basicodigital-audit.log-%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${hostname} [CorrelationID:
				%X{activityid}] [Username: %X
				{uact}] %-5level - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="atos.trace" level="DEBUG">
		<appender-ref ref="atos.trace.appender" />
	</logger>
	<logger name="atos.audit" level="DEBUG">
		<appender-ref ref="atos.audit.appender" />
	</logger>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="stdout.file" />
	</root>
</configuration>